[submodule "thirdparty/gatb-lite"]
	path = thirdparty/gatb-lite
	url = https://github.com/Piezoid/gatb-lite.git
[submodule "thirdparty/robin-hood-hashing"]
	path = thirdparty/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "dsk_phase2/gatb-core"]
	path = dsk_phase2/gatb-core
	url = https://github.com/GATB/gatb-core
