[submodule "BBHash"]
	path = BBHash
	url = https://github.com/rizkg/BBHash
[submodule "smhasher"]
	path = smhasher
	url = https://github.com/aappleby/smhasher
[submodule "sparsepp"]
	path = sparsepp
	url = https://github.com/greg7mdp/sparsepp
